# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
venv/
.env
.venv/
env/
ENV/

# =========================
# Build / distribution
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Logs & temp files
# =========================
*.log
*.tmp
*.swp

# =========================
# Jupyter / notebooks
# =========================
.ipynb_checkpoints/

# =========================
# Testing / coverage
# =========================
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# =========================
# IDE / Editor files
# =========================
.vscode/
.idea/
.spyderproject
.spyproject

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Model / data files (IMPORTANT)
# =========================
*.pkl
*.joblib
*.h5
*.csv

# =========================
# Streamlit cache
# =========================
.streamlit/

# =========================
# Experiment outputs
# =========================
experiments/
*.png
*.jpg

# =========================
# Misc
# =========================
.pdm-python
.pixi/
__pypackages__/
